mixin form-control(label,path,value)
	label.flex.flex-col.gap-2.font-bold(for!=attributes.for, class!=attributes.class) #{ label }
		if (attributes.type==='textarea')
			textarea.rounded.border.bg-zinc-100.px-2.py-1.font-normal.shadow(
				id!=attributes.id,
				required,
				name!=attributes.name,
				spellcheck,
				cols=30,
				rows=10
			) #{ value }

		else
			input.rounded.border.bg-zinc-100.px-2.py-1.font-normal.shadow(
				id!=attributes.id,
				type!=attributes.type,
				required,
				name!=attributes.name,
				value!=attributes.value
			)

		if errors && errors.find((err) => err.path===path)
			i.text-sm.font-light.text-rose-500 #{ errors.find((err) => err.path===path).msg } 

mixin nav-link(href, title)
	a.inline-flex.w-fit.rounded.bg-zinc-200.px-2.py-1.shadow(
		class='hover:bg-zinc-300 hover:font-semibold focus:bg-zinc-300 focus:font-semibold active:bg-zinc-300 active:font-semibold',
		href=href
	) #{ title }
