mixin form-control(label,path,value)
	label.flex.flex-col.gap-2.font-bold(for!=attributes.for, class!=attributes.class) #{ label }
		if (attributes.type==='textarea')
			textarea.rounded.border.bg-zinc-100.px-2.py-1.font-normal.shadow(
				id!=attributes.id,
				required,
				name!=attributes.name,
				spellcheck,
				cols=30,
				rows=10
			) #{ value }

		else
			input.rounded.border.bg-zinc-100.px-2.py-1.font-normal.shadow(
				id!=attributes.id,
				type!=attributes.type,
				required,
				name!=attributes.name,
				value!=attributes.value
			)

		if errors && errors.find((err) => err.path===path)
			i.text-sm.font-light.text-rose-500 #{ errors.find((err) => err.path===path).msg } 

mixin btn-link(href, title)
	a.inline-flex.h-fit.w-fit.rounded.bg-slate-900.px-4.py-2.font-semibold.text-zinc-50.shadow(
		class='hover:bg-zinc-600 hover:font-semibold focus:bg-zinc-600 focus:font-semibold active:bg-zinc-600 active:font-semibold',
		class!=attributes.class,
		href=href
	) #{ title }

mixin btn(title)
	button.inline-flex.h-fit.w-fit.rounded.bg-slate-900.px-4.py-2.font-semibold.text-zinc-50.shadow(
		class='hover:bg-zinc-600 hover:font-semibold focus:bg-zinc-600 focus:font-semibold active:bg-zinc-600 active:font-semibold',
		class!=attributes.class
	) #{ title }
