extends layout
include ../partials/mixins

block content
	main
		form.m-8.grid.gap-4.rounded.border.bg-zinc-50.p-4.text-lg.shadow(
			action='/login',
			method='POST',
			class='sm:mx-auto sm:max-w-sm md:max-w-md lg:max-w-xl'
		)
			h2.text-2xl.font-bold Login
			hr
			fieldset.grid.gap-4
				+form-control('Email',"email")#email(
					for='email',
					name='email',
					value=user && user.email,
					type='email'
				)
				+form-control('Password',"password")#password(
					for='password',
					name='password',
					value=user && user.password,
					type='password'
				)

			if errors
				i.mx-auto.text-rose-500 Unable to log in

			+btn('Log In').mx-auto
