extends layout

block content
	main.grid.flex-1.place-content-center
		form.m-8.grid.gap-8.rounded.border.bg-zinc-50.p-4.text-lg.shadow(
			action='/signup',
			method='POST',
			class='sm:max-w-sm md:max-w-md lg:max-w-xl'
		)
			h2.text-2xl.font-bold Sign Up
			hr
			fieldset.grid.gap-4(class='md:grid-cols-2')
				label.flex.flex-col.gap-2.font-bold(for='first_name') First Name
					input#first_name.rounded.border.bg-zinc-100.px-2.py-1.font-normal.shadow(
						type='text',
						required,
						name='first_name',
						value=user && user.first_name
					)
					if errors && errors.find((err) => err.path==="first_name")
						i.text-sm.font-light.text-rose-500 #{ errors.find((err) => err.path==="first_name").msg }
				label.flex.flex-col.gap-2.font-bold(for='last_name') Last Name
					input#last_name.rounded.border.bg-zinc-100.px-2.py-1.font-normal.shadow(
						type='text',
						required,
						name='last_name',
						value=user && user.last_name
					)
					if errors && errors.find((err) => err.path==="last_name")
						i.text-sm.font-light.text-rose-500 #{ errors.find((err) => err.path==="last_name").msg }
				label.flex.flex-col.gap-2.font-bold(for='email', class='md:col-span-2') Email
					input#email.rounded.border.bg-zinc-100.px-2.py-1.font-normal.shadow(
						type='email',
						required,
						name='email',
						value=user && user.email
					)
					if errors && errors.find((err) => err.path==="email")
						i.text-sm.font-light.text-rose-500 #{ errors.find((err) => err.path==="email").msg }
				label.flex.flex-col.gap-2.font-bold(for='password') Password
					input#password.rounded.border.bg-zinc-100.px-2.py-1.font-normal.shadow(
						type='password',
						required,
						name='password'
					)
					if errors && errors.find((err) => err.path==="password")
						i.text-sm.font-light.text-rose-500 #{ errors.find((err) => err.path==="password").msg }
				label.flex.flex-col.gap-2.font-bold(for='password_confirm') Confirm Password
					input#password_confirm.rounded.border.bg-zinc-100.px-2.py-1.font-normal.shadow(
						type='password',
						required,
						name='password_confirm'
					)
					if errors && errors.find((err) => err.path==="password_confirm")
						i.text-sm.font-light.text-rose-500 #{ errors.find((err) => err.path==="password_confirm").msg }
			if errors
				i.mx-auto.text-rose-500 Unable to create account
			button.mx-auto.inline-flex.w-fit.rounded.bg-zinc-200.px-2.py-1.shadow(
				class='hover:bg-zinc-300 hover:font-semibold focus:bg-zinc-300 focus:font-semibold active:bg-zinc-300 active:font-semibold'
			) Create Account
