extends layout
include ../partials/mixins

block content
	main.grid.flex-1.place-content-center
		form.m-8.grid.gap-8.rounded.border.bg-zinc-50.p-4.text-lg.shadow(
			action='/signup',
			method='POST',
			class='sm:max-w-sm md:max-w-md lg:max-w-xl'
		)
			h2.text-2xl.font-bold Sign Up
			hr
			fieldset.grid.gap-4(class='md:grid-cols-2')
				+form-control('First Name',"first_name")#first_name(
					for='first_name',
					name='first_name',
					value=user && user.first_name,
					type='text'
				)
				+form-control('Last Name',"last_name")#last_name(
					for='last_name',
					name='last_name',
					value=user && user.last_name,
					type='text'
				)
				+form-control('Email',"email")#email(
					for='email',
					name='email',
					value=user && user.email,
					type='email',
					class='md:col-span-2'
				)
				+form-control('Password',"password")#password(
					for='password',
					name='password',
					type='password'
				)
				+form-control('Confirm Password',"password_confirm")#password_confirm(
					for='password_confirm',
					name='password_confirm',
					type='password'
				)

			if errors
				i.mx-auto.text-rose-500 Unable to create account
			+btn('Create Account').mx-auto
