extends layout
include ../partials/mixins

block content
	main.grid.flex-1.place-content-center
		form.m-8.grid.gap-8.rounded.border.bg-zinc-50.p-4.text-lg.shadow(
			action='/user/admin',
			method='POST',
			class='sm:max-w-sm md:max-w-md lg:max-w-xl'
		)
			h2.text-2xl.font-bold Request Admin Access
			hr
			fieldset.grid.gap-4
				+form-control('Admin Key',"password")#password(
					for='password',
					name='password',
					type='password'
				)

			if errors
				i.mx-auto.text-rose-500 Not granted
			+btn('Request Admin Access').mx-auto
